Repository jf248/scrape-the-plate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests, autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py', autopep8 --in-place --exclude='*/migrations/*', flake8

Add .tern-project
  .tern-project
  webpack.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add copy prop to Scraper
  frontend/src/controllers/Scraper/Scraper.js
  frontend/src/controllers/Scraper/actions.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix custom fetch method in simpleRestDataProvider
  frontend/src/lib/dataProviders/simpleRestDataProvider.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update View
  frontend/src/components/recipes/list/components/ListItem/CardContent.js
  frontend/src/components/recipes/list/components/ListItem/ListItem.js
  frontend/src/components/recipes/list/components/ListItem/ListItemPres.js
  frontend/src/components/recipes/list/components/ListItem/Subheader.js
  frontend/src/components/recipes/list/components/ListItem/index.js
  frontend/src/components/recipes/list/components/ListItemPres.js
  frontend/src/components/recipes/view/DeleteDialog.js
  frontend/src/components/recipes/view/FabButton.js
  frontend/src/components/recipes/view/FabButtonPres.js
  frontend/src/components/recipes/view/MoreButton.js
  frontend/src/components/recipes/view/MoreButtonPres.js
  frontend/src/components/recipes/view/View.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/components/utils/SubheadingLabel.js
  frontend/src/components/utils/index.js
  frontend/src/lib/mui-app/Frame/AppFabButton.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  frontend/yarn.lock
  requirements.txt
Due: none

Change user and slug fields recipe model and serializer
  recipes/migrations/0004_auto_20180720_1318.py
  recipes/models.py
  recipes/serializers.py
  recipes/tests/test_models.py
  recipes/views.py
Due: autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py', autopep8 --in-place --exclude='*/migrations/*', flake8

Add migrate to heroku
  Procfile
Due: none

Add no-sequences rule
  .eslintrc.json
Due: none

Refactor sagas
  frontend/src/controllers/Form/saga.js
  frontend/src/controllers/LoginForm/saga.js
  frontend/src/controllers/RecordDestroy/RecordDestroy.js
  frontend/src/controllers/RecordDestroy/index.js
  frontend/src/controllers/RecordDestroy/names.js
  frontend/src/controllers/RecordDestroy/saga.js
  frontend/src/controllers/RecordForm/actions.js
  frontend/src/controllers/RecordForm/saga.js
  frontend/src/controllers/Scraper/saga.js
  frontend/src/saga/authorize.js
  frontend/src/saga/index.js
  frontend/src/saga/logOut.js
  frontend/src/saga/success.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Remove throw error if no json
  frontend/src/lib/enhanceFetch/enhancers.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Rename to .babelrc (jest can't find .babelrc.json)
  .babelrc
Due: none

Remove key prop. Add authorize and meta.
  frontend/src/lib/crud/CustomFetch.js
  frontend/src/lib/crud/NewRecord.js
  frontend/src/lib/crud/Record.js
  frontend/src/lib/crud/RecordsMany.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update TODO
  notes/TODO.md
Due: none

Add MoreButton
  frontend/src/components/recipes/view/MoreButton.js
  frontend/src/components/recipes/view/MoreButtonPres.js
  frontend/src/components/recipes/view/View.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/lib/auth/Auth.js
  frontend/src/lib/auth/selectors.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Reformat SubheadingLabel
  frontend/src/components/recipes/list/components/ListItem/Subheader.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/components/utils/SubheadingLabel.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add full source to List and View
  frontend/src/components/recipes/list/List.js
  frontend/src/components/recipes/list/ListPres.js
  frontend/src/components/recipes/list/components/ListItem/ListItem.js
  frontend/src/components/recipes/list/components/ListItem/ListItemPres.js
  frontend/src/components/recipes/list/components/ListItem/Subheader.js
  frontend/src/components/recipes/view/View.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/components/utils/Source.js
  frontend/src/components/utils/index.js
  frontend/src/config/resources.js
  recipes/serializers.py
  recipes/urls.py
  recipes/views.py
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests, autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py', autopep8 --in-place --exclude='*/migrations/*', flake8

Refactor backend
  recipes/filters.py
  recipes/pagination.py
  recipes/permissions.py
  recipes/views.py
Due: autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py', autopep8 --in-place --exclude='*/migrations/*', flake8

Add book modal
  frontend/src/components/books/EditBookDialog.js
  frontend/src/components/books/EditBookDialogPres.js
  frontend/src/components/books/index.js
  frontend/src/components/books/names.js
  frontend/src/components/frame/LoginButton/LoginButton.js
  frontend/src/components/frame/LoginButton/LoginButtonPres.js
  frontend/src/components/frame/LoginModal/LoginContent.js
  frontend/src/components/frame/LoginModal/LoginContentPres.js
  frontend/src/components/frame/LoginModal/LoginModal.js
  frontend/src/components/frame/LoginModal/SignupContent.js
  frontend/src/components/frame/LoginModal/SignupContentPres.js
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/BookTitleDialog/BookTitleDialog.js
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/BookTitleDialog/BookTitleDialogPres.js
  frontend/src/components/recipes/view/MoreButton.js
  frontend/src/components/recipes/view/View.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/controllers/LoginForm/saga.js
  frontend/src/controllers/LoginModal/LoginModal.js
  frontend/src/controllers/LoginModal/actions.js
  frontend/src/controllers/LoginModal/effects.js
  frontend/src/controllers/LoginModal/index.js
  frontend/src/controllers/Modal/Modal.js
  frontend/src/controllers/Modal/actions.js
  frontend/src/controllers/Modal/effects.js
  frontend/src/controllers/Modal/index.js
  frontend/src/controllers/Modal/names.js
  frontend/src/controllers/RecordForm/RecordForm.js
  frontend/src/controllers/RecordForm/saga.js
  frontend/src/lib/form/Form.js
  frontend/src/lib/form/utils/index.js
  frontend/src/lib/form/utils/shallowEqualObjects.js
  frontend/src/lib/mui-components/ComboboxField/Input.js
  frontend/src/names/index.js
  frontend/src/saga/authorize.js
  notes/TODO.md
  recipes/filters.py
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests, autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py', autopep8 --in-place --exclude='*/migrations/*', flake8

Add hot module reloading
  frontend/config-overrides.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/lib/mui-app/BaseApp.js
  frontend/src/lib/mui-app/Route.js
  frontend/src/lib/mui-app/Switch.js
  frontend/src/lib/mui-app/index.js
  frontend/src/reducer.js
  frontend/src/saga/index.js
  frontend/src/store.js
  frontend/yarn.lock
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add onKeyDown opens modal [BookTitleField]
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/BookTitleField/BookTitleField.js
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/BookTitleField/BookTitleFieldPres.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Remove TODOs
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/SourceSection.js
  frontend/src/components/recipes/list/List.js
  frontend/src/controllers/Form/saga.js
  notes/TODO.md
  scraper/tests/test_data/seriouseats.testhtml
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add FlexGrow FlexShrink
  frontend/src/components/recipes/edit/components/Step2/Step2Pres.js
  frontend/src/components/recipes/edit/components/Step2/components/SourceSection/SourceSectionPres.js
  frontend/src/components/recipes/list/ListPres.js
  frontend/src/components/utils/Flex/FlexGrow.js
  frontend/src/components/utils/Flex/FlexShrink.js
  frontend/src/components/utils/Flex/index.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Change dependencies
  .eslintrc.json
  .lintstagedrc.json
  frontend/package.json
  package.json
Due: none

Fix responsiveness
  frontend/src/components/recipes/list/ListPres.js
  frontend/src/components/recipes/list/components/ListItem/ListItemPres.js
  frontend/src/lib/mui-app/Frame/AppContent.js
  frontend/src/lib/mui-app/Frame/AppSearchBar.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add tags to View
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/components/recipes/view/components/Tags.js
  frontend/src/components/recipes/view/components/TagsPres.js
  frontend/src/components/recipes/view/components/index.js
  frontend/src/lib/crud/RecordsMany.js
  frontend/src/utils/deepEqual.js
  frontend/src/utils/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add tags to List
  frontend/src/components/recipes/list/components/ListItemPres.js
  frontend/src/components/recipes/list/components/Tags.js
  frontend/src/components/recipes/list/components/TagsPres.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add migrate to Procfile
  Procfile
  package.json
Due: none

Correct eslintrc
  frontend/.eslintrc.json
Due: none

Remove temp files
  frontend/src/a.js
  frontend/src/b.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix ListItemPres when no preparation or no recipe
  frontend/src/components/recipes/list/components/ListItemPres.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix FAB to float properly
  frontend/src/components/recipes/list/ListPres.js
  frontend/src/lib/mui-app/AppContent.js
  frontend/src/lib/mui-app/AppFabButton.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix recipes View - media print, notes
  frontend/src/components/common/SourcePres.js
  frontend/src/components/recipes/view/ViewPres.js
  frontend/src/components/recipes/view/components/Content.js
  frontend/src/components/recipes/view/components/Subheading.js
  frontend/src/lib/mui-app/AppFabButton.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Hide top scrape button at xs breakpoint
  frontend/src/components/recipes/list/ListPres.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add filter defaultValue
  frontend/src/components/recipes/list/components/Filter.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add normalizeOnBlur
  frontend/src/components/recipes/edit/components/Step2/components/Ingredient.js
  frontend/src/components/recipes/edit/components/Step2/components/IngredientsField.js
  frontend/src/components/recipes/edit/components/Step2/components/PreparationField.js
  frontend/src/components/recipes/edit/components/Step2/components/PreparationStep.js
  frontend/src/components/recipes/edit/components/Step2/normalize.js
  frontend/src/lib/form/Form.js
  frontend/src/lib/mui-components/TextField/TextField.js
  frontend/src/lib/mui-components/TextField/components/InputComponent.js
  frontend/src/lib/mui-components/TextField/components/InputCursorCorrect.js
  frontend/src/lib/react-listfield/ListField.js
  frontend/src/lib/react-listfield/index.js
  frontend/src/lib/react-listfield/splitLines.js
  notes/TODO.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
  autoflake --in-place --remove-all-unused-imports --remove-unused-variables --exclude='*/migrations/*,*/settings/__init__.py': any of: *.py
  autopep8 --in-place --exclude='*/migrations/*': any of: *.py
  flake8: any of: *.py
